page-loan {
    .loan-search-cond {
        .row {
            ion-label{
                width: 20%;
                margin-left: 8px;
                display: inline-block;
                text-align:bottom;
                vertical-align: text-bottom;
                color: #1F1D1D
            }

            button {
                width: 18%;
                margin-top: 8px;
                display: inline-block;
                text-align:bottom;
                vertical-align: text-bottom;
                color: #1F1D1D
            }
        }
    }
    
    }