loan-product {
    .loan-product {
        line-height:80px;

        .loan-product-image {
            height: 64px;
            width: 30%;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }

        .loan-product-info {
            width: 60%;
            margin-left: 8px;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }

        .loan-product-more {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }

    }

}