<ion-header>
    <ion-navbar>
        <ion-title>
            贷款管家
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="account-content">
        <div class="account-detail-content">
            <div class="cash-withdraw-quota-group">
                <p class="cash-withdraw-quota">200.00</p>
                <p class="text">可提现金额</p>
            </div>

            <div class="withdraw-revenue-history">
                <ion-segment>
                    <ion-segment-button value="history-withdraw">历史提现</ion-segment-button>
                    <ion-segment-button value="revenue">收入明细</ion-segment-button>
                </ion-segment>
            </div>
        </div>
        <div class="bottom-content">
            <button ion-button full color="secondary">申请提现</button>
        </div>
    </div>

</ion-content>