<ion-header>
    <ion-navbar>
        <ion-title>
            个人信息
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
    <div class="content">
        <div class="line-separator"></div><!-- must? otherwise frist div and other div have diff look.why? -->
        <div class="user-info-item">
            <ion-label>设置头像</ion-label>
            <div class="item-selector">
                <img src="assets/img/avatar-poe.png">
                <button ion-button clear icon-only>
                    <ion-icon name="arrow-forward"></ion-icon>                       
                </button>
            </div>
        </div>

        <div class="line-separator"></div>
        <div class="line-separator"></div>
        <div class="user-info-item">
            <ion-label>昵 称</ion-label>
            <div class="item-selector">
                <button ion-button clear icon-right>
                    <span>老佛爷 </span>
                    <ion-icon name="arrow-forward"></ion-icon>                       
                </button>
            </div>
        </div>

        <div class="line-separator"></div>

        <div class="user-info-item">
            <ion-label>所在地 </ion-label>
            <div class="item-selector">
                <button ion-button clear icon-right>
                    <span>北京朝阳 </span>
                    <ion-icon name="arrow-forward"></ion-icon>                       
                </button>
            </div>
        </div>
        <div class="line-separator"></div>
        <div class="user-info-item">
            <ion-label>职业身份</ion-label>
            <div class="item-selector">
                <button ion-button clear icon-right>
                    <span>上班族</span>
                    <ion-icon name="arrow-forward"></ion-icon>                      
                </button>
            </div>
        </div>
        <div class="line-separator"></div>
        <div class="line-separator"></div>
        <div class="user-info-item">
            <ion-label>我的支付宝账号</ion-label>
            <div class="item-selector">
                <button ion-button clear icon-right>
                    <span>未设置</span>
                    <ion-icon name="arrow-forward"></ion-icon>                      
                </button>
            </div>
        </div>
        <div class="line-separator"></div>
        <div class="user-info-item">
            <ion-label>我的微信账号</ion-label>
            <div class="item-selector">
                <button ion-button clear icon-right>
                    <ion-label>CoCo </ion-label>
                    <ion-icon name="arrow-forward"></ion-icon>                      
                </button>
            </div>
        </div>
        <div class="line-separator"></div>
        <div class="user-info-item">
                <ion-label>我的微账号</ion-label>
                <div class="item-selector">
                    <label>CoCo</label>
                    <button ion-button clear icon-only>
                        <ion-icon name="arrow-forward"></ion-icon>                      
                    </button>
                </div>
            </div>
            <div class="line-separator"></div>
    </div>
</ion-content>